.container {
  display: block;
  width: 49.5%;
  height: 860px;
  float: left;
}

.formItem {
  width: 75%;
  background-color: #4082bc;
  margin: 31px auto 69px;
  height: 320px;
  border: 7px solid #fff;
  border-radius: 20px;
  font-size: 22px;
  color: seashell;
  text-align: center;

 & button {
  width: 20%;
  height: 33px;
  font-size: 19px;
  color: #fff;
  background-color: inherit;
  border: 3px solid #fff;
  border-radius: 10px;
  margin: 5px;
}

& button:hover {
  background-color: #1861a2;
  cursor: pointer;
 }

 & .btnDisabled, & .btnDisabled:hover {
   background-color: #c6c6c6;
   cursor: auto;
 }

  & input {
    width: 85%;
    height: 35px;
    font-size: 20px;
    padding: 0 30px 0 30px;
    box-sizing: border-box;
    display: block;
    margin: 0 auto 5px;
    background-color: aliceblue;
  }
}
