.container {
  width: 100%;
  background-color: inherit;
  position: relative;

  & button {
    width: 15%;
    height: 75px;
    font-size: 25px;
    color: #fff;
    background-color: #4082bc;
    border: 3px solid #fff;
    border-radius: 8px;
    cursor: pointer;
  }

  & button:hover {
    background-color: #4da6f4;
  }
}

.logo {
  width: 70px;
  height: 70px;
  position: absolute;
  top: 11px;
  left: 49%;
  background-image: url('../../public/img/vue.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.languages {
  position: absolute;
  right: 30px;
  top: 20px;
  width: 50px;
  height: 35px;
  font-size: 21px;
}
